/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 1em auto;
  max-width: 50em;
  background-image: url("http://i.imgur.com/ibeMHc9.jpg");
  background-size: fill;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(0, 153, 255);
}
.title_show, .image_right {
  display: inline-block;
}


.image_right {
  width: 15%;
  height: 15%;
  text-align: right;
}

.title {
  text-align: center;
  font-size: 55px;
  border-bottom: 2px solid rgb(0, 153, 255);
}

.house_wrapper {

  display: flex;
  flex-direction: column;
  width: 25em;
  border-bottom: 1px solid black;
  align-items: center;
}

a {
  color: rgb(255, 51, 204);
}

a:hover {
  color: rgb(128, 0, 96);
  text-decoration: none;
}

.dropdown {
  text-align: right;
}

.nav {
  color: rgb(255, 51, 204);
}

