/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0 auto;
  max-width: 50em;
  background-image: url("http://i.imgur.com/ibeMHc9.jpg");
  background-size: fill;
  background-repeat: no-repeat;
  color: rgb(0, 153, 255);
}

.h1_titles {
  border-bottom: 2px solid black;
}

.house_wrapper {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 25em;
  align-items: center;
  writing-mode: vertical-lr;
}

.dropdown {
  text-align: right;
}

.nav {
  color: rgb(255, 51, 204);
}

