/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 1em auto;
  max-width: 60em;
  background-image: url("http://i.imgur.com/ibeMHc9.jpg");
  background-size: fill;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(0, 153, 255);
}
.home_link{
  position: fixed;
}

.char_name{
  color: rgb(0, 153, 255);
}

.flash {
  margin: 0 auto;
  text-align: center;
}


.change_link {
  margin: 0 4em;
  position: fixed;
}
.title_show {
  text-align: center;
}

.new_update_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.border_box {
  border: 2px solid rgb(0, 153, 255);
  padding: 1em;
  margin: 0 auto;
  display: inline;
}

  
.char_show {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.float_left{
  float: right;
}

.char_image {
  display:flex;
  flex-direction: column;
  align-items:center;
  width: 25em;
}

.image_right {
  width: 15%;
  height: 15%;
  text-align: right;
}

.change_title {
  margin: 1em auto;
  text-align: center;
  border-bottom: 2px solid rgb(255, 51, 204);
}
.title {
  text-align: center;
  font-size: 55px;
  border-bottom: 2px solid rgb(255, 51, 204);
}

.house_wrapper {
  display: flex;
  flex-direction: column;
  width: 25em;
  border-bottom: 1px solid black;
  align-items: center;
}

a {
  color: rgb(255, 51, 204);
}

a:hover {
  color: rgb(128, 0, 96);
  text-decoration: none;
}

.dropdown {
  text-align: right;
}

.nav {
  color: rgb(255, 51, 204);
}

