<h1 class="title title_index">The Great Houses</h1>
<div class="all_house_wrapper">
  <% @houses.each do |house| %>
    <div class="house_wrapper">
      <h3><%= link_to house.name, house %></h3> 
      <img class="house_image" src="<%= house.photo_url %>">
    </div>
  <% end %>
</div>
